#email {
  padding: 50px;
  margin-top: 50px;
  width: 500px;
  border: 2px;
  box-sizing: border-box;
}

#confidential {
  display: inline-block;
  margin-left: 22px;
}

#top-secret {
  display: inline-block;
  margin-left: 22px;
}

div {
  padding: 20px;
  border: 6px solid blue;
  transform: rotate(30deg)
}

.blurred {
  filter: blur(3px);
}